<nav class="manavbar">
  <div class="container aligne" id="p">
    <img src="../assets/LogosAndIcons/EyesTitle.png" alt="Logo">
    <ul class="size50 aligne">
      <li class="nodot"><a href="#"><img src="../assets/LogosAndIcons/house.png" alt="Home"></a></li>
      <li class="nodot"><a href="#"><img src="../assets/LogosAndIcons/heart.png" alt="Likes"></a></li>
      <li class="nodot"><a href="#"><img src="../assets/LogosAndIcons/chat_blue.png" alt="Messages"></a></li>
      <li class="nodot"><a href="#"><img src="../assets/LogosAndIcons/profile.png" alt="Profile"></a></li>
    </ul>
 </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
